%table
  %tr
    %th Company name
  - for company in @companies
    %tr
      %td= company.company_name
      %td= link_to 'Show', company
      %td= link_to 'Edit', edit_company_path(company)
      %td= link_to 'Destroy', company, :confirm => 'Are you sure?', :method => :delete

%p= link_to "New Company", new_company_path
